body{
background-color: lime;
font-family: sans-serif;
margin: 18px;
padding: 0;
}
header{
background-color: white;
color: black;
text-align: center;
}
nav ul{
list style-type: none;
padding: 0;
}
nav ul li{
display: inline;
margin: 10px;
}
section{
padding: 10px;
text-align: center;
}
footer{
background-color: white;
color: black;
margin: 5px
}
img{
height: 900px;
width: 800px;
max-width: 100%;
margin: 80px;
float: center;
border: 10px solid white;
border-radius: 20px;
opacity: 0.8;
}
.nav-bar{
background-color: red;
margin: 5px;
padding: .1px;
}